{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}
<div class="container">
    <h1>Info</h1>
    <h3>Welcome to Tweet</h3>
    <p>This website is simple clone,it is only developed for project purpose, not for commercial purpose </p>
    <p>The following website has following feature's</p>
    <ul style="list-style-type:square">
        <li>Basic Sign-up and Login</li>
        <li>Create a group, in which user can join the created group</li>
        <li>User will be able to post text on website after joining the group</li>
        <li>The post and groups will be displyed on by clicking groups icon</li>
    </ul>
    <h2>Thank for Visiting the Website</h2>
</div>
{% endblock %}
